{% extends 'base.html' %}

{% block content %}
<h1> About Us</h1>

<p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae ex veniam natus recusandae quo culpa optio quam labore illum maxime voluptas itaque amet laudantium ipsum dolores, numquam exercitationem unde corrupti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem numquam expedita vero facilis odio, commodi cupiditate. Ratione, sunt, ex labore animi itaque atque aliquam, soluta exercitationem cum illo esse tempora! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolorum necessitatibus quam? Explicabo quibusdam non qui consequuntur praesentium, facere aliquid odio dolore, quia harum placeat? Suscipit iusto doloribus molestias maxime?
</p>
{% endblock %}